/docs export-ignore
/tests export-ignore
/.github export-ignore
/.phpunit.cache export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
phpunit.xml.dist export-ignore
phpstan.neon.dist export-ignore
rector.php export-ignore
CHANGELOG.md export-ignore
